<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>preprocessor</key>
	<string>/usr/bin/plutil -convert xml1 -o - $targetHL</string>
	<key>syntax</key>
	<string>XML</string>
</dict>
</plist>
