@charset "UTF-8";
/*

Tip: How to examine Apple's Yosemite help CSS

The HelpViewer doesn't allow one to inspect pages, but all of Yosemite's help is available online.
Use the share button to get URLs. For example:

https://help.apple.com/safari/mac/8.0/index.html?localePath=en.lproj

The online help uses different styling then in HelpViewer.
To get the online help to render identically, use Safari's Inspector to:

- Change html element class 'is-not-hv' to 'is-hv'
- Delete the banner at html > body > div > header

Now the page looks/works the same as in HelpViewer (except for responsive styles).

*/

:root {
  color-scheme: light dark;
  --background-color: #fff;
  --text-color: #484848;
  --border-color: #cecece;
  --link-color: #007aff;
  --background-color2: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --text-color: #eeeeee;
    --border-color: #e8e8e8;
    --link-color: #007aff;
    --background-color2: #606060;
  }
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
  margin: 0; padding: 0; 
}

* {
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica, sans-serif; 
  box-sizing: border-box;
}
/** Basic styling */
html {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

body { 
  margin: 1em;
  font-size: small; 
  line-height: 1.5; 
  font-weight: 300; 
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%; 
}
table {
  font-size: small; 
}
/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
  margin-bottom: 15px; 
}

/** Images */
img { 
  max-width: 100%; 
  vertical-align: middle; 
}

/** Figures */
figure > img { display: block; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/** Links */
a { color: var(--link-color); text-decoration: underline; }
a:visited { color: var(--link-color); }
a:hover { color: var(--link-color); text-decoration: underline; }

/** Blockquotes */
blockquote { 
  color: #828282; 
  border-left: 4px solid var(--border-color); 
  padding-left: 15px; 
  font-size: 1.2em; 
  letter-spacing: -1px; 
  font-style: italic; 
}

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { 
  border: 1px solid var(--border-color); 
  border-radius: 3px; 
  background-color: var(--background-color2); 
  font-size: 1.0em; 
}

pre { 
  padding: 8px 12px; 
  overflow-x: scroll; 
}

pre > code { border: 0; padding-right: 0; padding-left: 0; }
code { 
  padding: 1px 5px; 
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  line-height: 1.6; margin-bottom: 16px; 
}
tbody { 
  border-top: 1px solid var(--border-color); 
}
tr { 
  border-bottom: 1px solid var(--border-color); 
}

table td {
  vertical-align: top;
}

.header {
  font-size: 80%;
}

.small {
  font-size: 80%;
}