<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quiz</key>
	<dict>
		<key>question</key>
		<array>
			<dict>
				<key>text</key>
				<string>What does 'API' stand for?</string>
				<key>answer</key>
				<string>API stands for Application Programming Interface.</string>
			</dict>
			<dict>
				<key>text</key>
				<string>What's so good about pragmatic REST?</string>
				<key>answer</key>
				<string>It's focused on the api consumer, so it makes it easier for developers to contribute to your app library!</string>
			</dict>
		</array>
		
	</dict>
</dict>
</plist>
