<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Source Code Syntax Highlight Quicklook extension</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Source Code Syntax Highlight Quicklook extension</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.adobe.actionscript</string>
				<string>com.adobe.coldfusion</string>
				<string>com.adobe.jsx</string>
				<string>com.apple.applescript.script</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.property-list</string>
				<string>com.dhowett.logos</string>
				<string>com.eiffel.eiffelstudio-project-config</string>
				<string>com.eiffel.source-code</string>
				<string>com.jetbrain.source</string>
				<string>com.microsoft.csharp-source</string>
				<string>com.microsoft.c-sharp</string>
				<string>com.microsoft.f-sharp</string>
				<string>com.microsoft.typescript</string>
				<string>com.microsoft.vb-source</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.javafx</string>
				<string>com.sun.java-class</string>
				<string>com.sun.manifest</string>
				<string>org.applescript.source</string>
				<string>org.arduino.ino-source</string>
				<string>org.arduino.source</string>
				<string>org.asm.source</string>
				<string>org.bash.source</string>
				<string>org.coffee.source</string>
				<string>org.codehaus.groovy-source</string>
				<string>org.coffee.source</string>
				<string>org.cson.source</string>
				<string>org.erlang.erlang-source</string>
				<string>org.fish.source</string>
				<string>org.gcc.files</string>
				<string>org.go.source</string>
				<string>org.gradle.source</string>
				<string>org.haskell.haskell-source</string>
				<string>org.haskell.literate-haskell-source</string>
				<string>org.inno.source</string>
				<string>org.kmt.source</string>
				<string>org.km3</string>
				<string>org.kotlinlang.source</string>
				<string>org.lua.lua</string>
				<string>org.lua.lua-source</string>
				<string>org.microsoft.inf</string>
				<string>org.nfo</string>
				<string>org.n8gray.bat</string>
				<string>org.n8gray.bogusextension</string>
				<string>org.n8gray.diff-script</string>
				<string>org.n8gray.idl</string>
				<string>org.n8gray.ini-source</string>
				<string>org.n8gray.javaInstaller</string>
				<string>org.n8gray.jsp-source</string>
				<string>org.n8gray.lisp</string>
				<string>org.n8gray.makefile</string>
				<string>org.n8gray.railstemplate</string>
				<string>org.n8gray.scheme-source</string>
				<string>org.n8gray.standard-ml-source</string>
				<string>org.n8gray.structured-query-language-source</string>
				<string>org.n8gray.verilog</string>
				<string>org.n8gray.vhdl</string>
				<string>org.n8gray.xhtml</string>
				<string>org.ocaml.ocaml-interface</string>
				<string>org.ocaml.ocaml-source</string>
				<string>org.omg.ecore</string>
				<string>org.rdf.source</string>
				<string>org.sbarex.dart</string>
				<string>org.sbarex.xml</string>
				<string>org.scala.source</string>
				<string>org.tug.tex</string>
				<string>org.vim.vim-script</string>
				<string>org.xul.source</string>
				<string>public.css</string>
				<string>public.c-source</string>
				<string>public.c-plus-plus-source</string>
				<string>public.json</string>
				<string>public.objective-c-source</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.tex</string>
				<string>public.text</string>
				<string>public.swift-source</string>
				<string>public.xml</string>
				<string>public.xsd</string>
				<string>public.yaml</string>
				<string>tk.tcl.tcl-source</string>
				<string>dyn.ah62d4rv4ge81g6pq</string>
				<string>dyn.ah62d4rv4ge8007a</string>
				<string>dyn.ah62d4rv4ge80s6xbqv0gn</string>
				<string>dyn.ah62d4rv4ge81g25brvuu</string>
				<string>dyn.ah62d4rv4ge80g62</string>
				<string>dyn.ah62d4rv4ge80w5pq</string>
				<string>dyn.ah62d4rv4ge80s52</string>
				<string>dyn.ah62d4rv4ge80y652</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 SBAREX. All rights reserved.</string>
</dict>
</plist>
