<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.adobe.acrobat.sequ</string>
				<string>com.adobe.actionscript</string>
				<string>com.adobe.coldfusion</string>
				<string>com.adobe.jsx</string>
				<string>com.adobe.edn</string>
				<string>com.apple.applescript.script</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.dt.interfacebuilder.document.storyboard</string>
				<string>com.apple.interfacebuilder.document.cocoa</string>
				<string>com.apple.property-list</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.terminal.settings</string>
				<string>com.apple.xcode.strings-dictionary</string>
				<string>com.apple.xcode.strings-text</string>
				<string>com.barebones.bbedit.ini-configuration</string>
				<string>com.barebones.bbedit.scss-source</string>
				<string>com.barebones.bbedit.tex-source</string>
				<string>com.barebones.bbedit.verilog-hdl-source</string>
				<string>com.barebones.bbedit.vhdl-source</string>
				<string>com.dhowett.logos</string>
				<string>com.eiffel.eiffelstudio-project-config</string>
				<string>com.eiffel.source-code</string>
				<string>com.google.earth.kml</string>
				<string>com.jetbrain.source</string>
				<string>com.macromates.textmate.scheme</string>
				<string>com.macromates.textmate.standard-ml</string>
				<string>com.microsoft.asp</string>
				<string>com.microsoft.csharp-source</string>
				<string>com.microsoft.c-sharp</string>
				<string>com.microsoft.f-sharp</string>
				<string>com.microsoft.ini</string>
				<string>com.microsoft.typescript</string>
				<string>com.microsoft.vb-source</string>
				<string>com.microsoft.visual-basic</string>
				<string>com.microsoft.xaml</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-properties</string>
				<string>com.sun.java-source</string>
				<string>com.sun.java-server-pages</string>
				<string>com.sun.java-web-start</string>
				<string>com.sun.javafx</string>
				<string>com.sun.java-class</string>
				<string>com.sun.manifest</string>
				<string>com.unknown.lhs</string>
				<string>com.symfony.twig</string>
				<string>edu.uo.texshop.tex</string>
				<string>org.applescript.source</string>
				<string>org.arduino.ino-source</string>
				<string>org.arduino.source</string>
				<string>org.asm.source</string>
				<string>org.bash.source</string>
				<string>org.clojure</string>
				<string>org.cmake.makefile</string>
				<string>org.cmake.cmake</string>
				<string>org.clojure.script</string>
				<string>org.cocoapods.podspec</string>
				<string>org.codehaus.groovy-source</string>
				<string>org.coffee.source</string>
				<string>org.coffeescript.coffeescript</string>
				<string>org.cson.source</string>
				<string>org.erlang.erlang</string>
				<string>org.erlang.erlang-source</string>
				<string>org.elixir-lang.source</string>
				<string>org.fish.source</string>
				<string>org.gcc.files</string>
				<string>org.go.source</string>
				<string>org.gradle.source</string>
				<string>org.haskell.haskell</string>
				<string>org.haskell.haskell-source</string>
				<string>org.haskell.literate-haskell-source</string>
				<string>org.inno.source</string>
				<string>org.iso.sql</string>
				<string>org.julialang.julia</string>
				<string>org.kmt.source</string>
				<string>org.km3</string>
				<string>org.kotlinlang.source</string>
				<string>org.lua.lua</string>
				<string>org.lua.lua-source</string>
				<string>org.microsoft.inf</string>
				<string>org.nfo</string>
				<string>org.n8gray.awk</string>
				<string>org.n8gray.bat</string>
				<string>org.n8gray.diff-script</string>
				<string>org.n8gray.idl</string>
				<string>org.n8gray.ini-source</string>
				<string>org.n8gray.javaInstaller</string>
				<string>org.n8gray.jsp-source</string>
				<string>org.n8gray.lisp</string>
				<string>org.n8gray.makefile</string>
				<string>org.n8gray.railstemplate</string>
				<string>org.n8gray.scheme-source</string>
				<string>org.n8gray.standard-ml-source</string>
				<string>org.n8gray.structured-query-language-source</string>
				<string>org.n8gray.verilog</string>
				<string>org.n8gray.vhdl</string>
				<string>org.n8gray.xhtml</string>
				<string>org.ocaml.ocaml</string>
				<string>org.ocaml.ocaml-interface</string>
				<string>org.ocaml.ocaml-source</string>
				<string>org.omg.ecore</string>
				<string>org.python.compiled-script</string>
				<string>org.racket-lang.source</string>
				<string>org.rdf.source</string>
				<string>org.rust-lang.source</string>
				<string>org.sbarex.conf</string>
				<string>org.sbarex.dart</string>
				<string>org.sbarex.ms-powershell</string>
				<string>org.sbarex.ms-powershell-module</string>
				<string>org.sbarex.ms-powershell-module-manifest</string>
				<string>org.sbarex.nim</string>
				<string>org.scala.source</string>
				<string>org.tug.lua</string>
				<string>org.tug.tex</string>
				<string>org.vim.vim-script</string>
				<string>org.vuejs.vue</string>
				<string>org.w3.xsl</string>
				<string>org.xml-tools.source</string>
				<string>org.xsd.schema</string>
				<string>org.xul.source</string>
				<string>public.bash-script</string>
				<string>public.csh-script</string>
				<string>public.css</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-sharp-source</string>
				<string>public.c-source</string>
				<string>public.conf</string>
				<string>public.fortran-source</string>
				<string>public.fortran-90-source</string>
				<string>public.ini</string>
				<string>public.json</string>
				<string>public.ksh-script</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.pascal-source</string>
				<string>public.patch-file</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.properties</string>
				<string>public.python-script</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.swift-source</string>
				<string>public.tcsh-script</string>
				<string>public.tex</string>
				<string>public.text</string>
				<string>public.xml</string>
				<string>public.yaml</string>
				<string>public.zsh-script</string>
				<string>tk.tcl.tcl</string>
				<string>tk.tcl.tcl-source</string>
				<string>dyn.ah62d4rv4ge8007a</string>
				<string>dyn.ah62d4rv4ge80c75p</string>
				<string>dyn.ah62d4rv4ge80g62</string>
				<string>dyn.ah62d4rv4ge80s52</string>
				<string>dyn.ah62d4rv4ge80s6xbqv0gn</string>
				<string>dyn.ah62d4rv4ge80w5pq</string>
				<string>dyn.ah62d4rv4ge80y652</string>
				<string>dyn.ah62d4rv4ge81g22</string>
				<string>dyn.ah62d4rv4ge81g25brvuu</string>
				<string>dyn.ah62d4rv4ge81g25xsq</string>
				<string>dyn.ah62d4rv4ge80g55sq2</string>
				<string>dyn.ah62d4rv4ge81k3p2</string>
				<string>dyn.ah62d4rv4ge81a8p</string>
				<string>dyn.ah62d4rv4ge81g6pq</string>
				<string>dyn.ah62d4rv4ge81k55rru</string>
				<string>dyn.ah62d46dzqm0gw23stb002svvhz6g45a</string>
				<string>dyn.ah62d4rv4ge80g5dn</string>
				<string>dyn.ah62d4rv4ge80g5dnsq</string>
				<string>dyn.ah62d4rv4ge80g5dnqq</string>
				<string>dyn.ah62d4rv4ge81u2prru</string>
				<string>dyn.ah62d4rv4ge81a6xtsbw1e7dmqz3u</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Developed by SBAREX (2019-2021).</string>
</dict>
</plist>
